dash
dash-bootstrap-components
gunicorn
pandas
pyyaml
selenium
pyotp
pymongo 
# git+https://github.com/Kotak-Neo/kx   otak-neo-api.git#egg=neo_api_client
bs4
requests
websocket_client
webdriver_manager
./dist/NorenRestApi-0.0.29-py3-none-any.whl